@using Storaged.Business;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<h2>
    juegos
</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>

            </tr>
            
                @foreach (var oProducto in CatalogoSingleton.Instance.productos)
                {
            <tr>
                <td>@oProducto.nombre</td>
                <td>@oProducto.precio</td>
                <td>@oProducto.cantidad</td>
                <td>
                    <a class="btn btn-default" href="~/Producto/Comprar/@oProducto.id ">Comprar</a>
                </td>


            </tr>
                }
        </table>
    </div>
</div>